h1, h2, h3, h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	color: #666666;
}
body {
	background-color: #DAE2E3;
	font-family: Arial, Helvetica, sans-serif;
	color: #444444;
}
th {
	font-weight: bold;
	font-size: medium;
	color: #993300;
}

a {
	/*color: #6CAFD6;*/
	color: #993300;
	font-size: medium;
	font-weight: 300;
	text-decoration: none;
	font-weight: normal;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #555555;
	letter-spacing: 1px;
}

div#button {
	width: 100%;

	margin-bottom: 0px;

	background-color: #FFFFFF;

	cursor: hand;
	
	white-space: nowrap;
}



div#button ul {

	margin: 4;

	padding: 0 0 0 0;

	border: none;

	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: small;
	font-style: normal;
	font-variant: small-caps;

}

                

div#button li {
	list-style-type: none;
}



div#button li a {

	display: block;

	padding: 2px 2px 2px 2px;

	border-bottom: 0;

	background-color: #FFFFFF;

	color: #6CAFD6;

	text-decoration: none;
}

div#button li a:hover {

	color: #FFFFFF;

	background-color: #6CAFD6;

}
