<div align="center">Overview of {$name}'s recent dives.</div>
<div align="center">{$records} record{if $records != 1}s{/if} found.</div>
<div align="center">
  <table width="95%">
     <tr align="center">
	<th>&nbsp;</th>
	<th>Date</th>
	<th>Description</th>
	<th>Depth</th>
	<th>Location</th>
     </tr>
     {section name=dives loop=$data}
     <tr align="center" {cycle values='bgcolor="#FFFFFF", '}>
	<td><a href="diveedit.php?diveid={$data[dives].diveid}&action=edit">{$smarty.section.dives.rownum}</a></td>
	<td><a href="diveedit.php?diveid={$data[dives].diveid}&action=edit">{$data[dives].time_in|date_format:"%A, %B %e, %Y"}</a></td>
	<td><a href="diveedit.php?diveid={$data[dives].diveid}&action=edit">{$data[dives].description}</a></td>
	<td><a href="diveedit.php?diveid={$data[dives].diveid}&action=edit">{$data[dives].depth}</a></td>
	<td><a href="diveedit.php?diveid={$data[dives].diveid}&action=edit">{$data[dives].location}</a></td>
     </tr>
     {/section}
  </table>
</div>
