<table width="80%" align="center">
  <tr>
  <td>
  
  {if $errordb == true}
  	<h3> Error: {$errortext} </h3>
  {/if}
  
  {if $badlogin==true}
     <h3> Incorrect login. Bad user name or password. <br> Please try again.</H3>
  {else}
     <h2> Welcome to divelog! Please login to continue. </h2>
  {/if}
  
  <form action="index.php" name="login" method="POST">
  <table>
    <tr>
      <td>Username: </td>
      <td><input type="text" name="user" value=""></td>
    <tr>
      <td>Password: </td>
      <td><input type="password" name="pass" value=""></td>
    <tr	>
	  <td>&nbsp;</td>
      <td align="center"><input type="submit" name="action" value="Login"></td>
    </tr>
  </table>
</form>

  <H4> If you do not have a login, create one below. </H4>
  <form action="createuser.php" name="login" method="POST">
     <input type="submit" name="redirect" value="Create new User">
  </form>
  </td>
  </tr>
</table>
